/* CSS Document */
td
{
	background-color:#CCFF66;
	color:#000066;
	font-size:24px;
}
body
{
background-color:#990000;
}

.ayan
{
	background-color:#FF33CC;
	color:#000000;
}

#Jayasree
{
	background-color:#00CCFF;
}

